.backend-container {
  width: 100vw;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

  .create-div {
    display: flex;
    flex-direction: row;
    gap: 10px;

    button {
      margin-top: 10px;
    }
  }

  .drag-and-drop-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
}

.upload-div {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .buttons-div {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

.service-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 15px;
  align-items: center;

  .command-div {
    display: flex;
    align-items: center;
    background-color: #eeeeee;
    border-radius: 20px;
    gap: 10px;
    padding: 0 20px;

    mat-icon {
      cursor: pointer;
      color: #005cbb;
    }
  }
}

.code-components-div {
  width: 100vw;
}
